/* PollComponent.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



::selection {
  color: #fff;
  background: #6665ee;
}

.wrapper {
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper header {
  font-size: 22px;
  font-weight: 600;
}

.wrapper .poll-area {
  margin: 20px 0 15px 0;
}

.poll-area label {
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px 15px;
  border: 2px solid #e6e6e6;
  transition: all 0.2s ease;
}

.poll-area label:hover {
  border-color: #ddd;
}

label.selected {
  border-color: #6665ee!important;
}


